services:
  dispatch_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hpc_dispatch_service
    restart: unless-stopped
    ports:
      - "8888:8888"
    volumes:
      - ./src:/app/src
      - ./hpc_dispatch.db:/app/hpc_dispatch.db
    # env_file:
    #   - .env
    environment:
      - NOTIFICATION_SERVICE_URL=http://hpc_web/api/v1/events/publish
      - DATABASE_URL=sqlite:///./hpc_dispatch.db

      - HPC_USER_SERVICE_URL=http://hpc_web/api/v1

      - HPC_DRIVE_SERVICE_URL=http://hpc_drive_service:7777/api/v1/drive

    networks:
      - system-management_hpc_network

networks:
  system-management_hpc_network:
    external: true
