services:
  dispatch_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hpc_dispatch_service
    command: uvicorn src.hpc_dispatch_management.main:app --host 0.0.0.0 --port 8888 --reload
    restart: unless-stopped
    ports:
      - "8888:8888"
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    depends_on:
      dispatch_db_dev:
        condition: service_healthy

  dispatch_db_dev:
    image: mysql:8.0
    container_name: hpc_dispatch_db_dev
    restart: unless-stopped
    command:
      - --innodb-buffer-pool-size=1G
      - --innodb-buffer-pool-instances=2
      - --innodb-flush-log-at-trx-commit=2
      - --innodb-io-capacity=1000
    deploy:
      resources:
        limits:
          memory: 768M
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dispatch_dev
      MYSQL_USER: dev_user
      MYSQL_PASSWORD: dev_password
    ports:
      - "3308:3306"
    volumes:
      - dispatch_dev_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  dispatch_db_test:
    image: mysql:8.0
    container_name: hpc_dispatch_db_test
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dispatch_test
      MYSQL_USER: test_user
      MYSQL_PASSWORD: test_password
    ports:
      - "3309:3306"
    tmpfs: # Use this to run DB in memory for faster test
      - /var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  dbgate:
    image: dbgate/dbgate
    container_name: hpc_dbgate
    restart: always
    ports:
      - "8080:3000"

volumes:
  dispatch_dev_data:
